$darkNavbarBackground: #06072A;
$darkNavbarHomeTitle: #00d0e5;
$darkMobileIcon: #FFFFFF;
$darkNavLinks: #FFFFFF;
$darkNavLinksHover: #00d0e5;

$darkAboutMeBackground: #01162B;
$darkAboutMeRoundedBorders: #00c5f2;
$darkAboutMeDescriptionP: #7100d1;
$darkAboutMePageLinkHighlight: #00c5f2;
$darkAboutMeLabelBold: #FFFFFF;
$darkAboutMeText: #FFFFFF;
$darkAboutMeSkillsBarsBackground: #edeef5;
$darkAboutMeSkillsBarsTags: #00c5f2;
$darkAboutMeSkillsBarsText: #FFFFFF;
$darkAboutMeSkillsBarsFill1: #70008c;
$darkAboutMeSkillsBarsFill2: #7100d1;
$darkAboutMeSkillsBarsFillSpan: #FFFFFF;
$darkAboutMeDegreeH2: #FFFFFF;
$darkAboutMeDegreeH3: #FFFFFF;
$darkAboutMeDegreeService: #000000;

$darkButtonText: #FFFFFF;
$darkButtonBackground1: #6dd4fd;
$darkButtonBackground2: #2800b3;
$darkButtonHover: #6dd4fd;

$darkCardBackground1: #fff;
$darkCardBackground2: #2800b3;
$darkCardBackH2: #FFFFFF;
$darkCardBackP: #FFFFFF;

$darkContactMeH3: #00d0e5;

$darkExperienceContainerBackground: #01162B;
$darkExperienceContainerTextUppercase: #FFFFFF;
$darkExperienceContainerTextMuted: #00d0e5;
$darkExperienceContainerTimelineBefore: #00d0e5;
$darkExperienceContainerTimelineImageBack: #FFFFFF;
$darkExperienceContainerTimelineCircleActive: #00d0e5;
$darkExperienceContainerTimelineLastChild: #00d0e5;
$darkExperienceContainerTimelineBodyUlP: #6c757d;
$darkExperienceContainerTimelineBodyUlH4ActiveText: #FFFFFF;
$darkExperienceContainerTimelineBodyUlPActiveText: #00d0e5;

$darkFooterBackground: #1E043B;
$darkFooterText: #FFFFFF;

$darkInputBorderError: #ff0000;
$darkInputBorderColor: #FFFFFF;
$darkInputBorderDisabled: #d3d3d3;
$darkInputBorderPlaceholder: #b5bcc7;
$darkInputBorderFocus: #00d0e5;
$darkInputBorderLabel: #FFFFFF;
$darkInputBorderLabelFocus: #00d0e5;

$darkIntroContainerH1: #FFFFFF;
$darkIntroContainerH3: #FFFFFF;

$darkProjectsBackground: #01162B;
$darkProjectsContainerH3: #00d0e5;

$darkSidebarContainerBackground: #00d0e5;
$darkSidebarContainerCloseIcon: #FFFFFF;
$darkSidebarContainerWrapper: #FFFFFF;
$darkSidebarMenuLinkText: #FFFFFF;
$darkSidebarMenuLinkTextHover: #000000;

$darkContactMeBackground: #01162B;
$darkTextAreaLabel: #FFFFFF;
$darkTextAreaText: #b5bcc7;
$darkTextAreaPlaceholder: #b5bcc7;
$darkTextAreaBorder: #FFFFFF;
$darkTextAreaBorderFocus: #00d0e5;
$darkTextAreaLabelFocus: #00d0e5;

$darkEndOfSectionLineColor: #FFFFFF;

$darkScrollColor: #70008c;
