
    $lightNavbarBackground: #b8cadd;
    $lightNavbarHomeTitle: #2b3391;
    $lightMobileIcon: #FFFFFF;
    $lightNavLinks: #2b3391;
    $lightNavLinksHover: #ff0000;

    $lightAboutMeBackground: #F9F1F7;
    $lightAboutMeRoundedBorders: #00c5f2;
    $lightAboutMeDescriptionP: #7100d1;
    $lightAboutMePageLinkHighlight: #00c5f2;
    $lightAboutMeLabelBold: #808080;
    $lightAboutMeText: #000000;
    $lightAboutMeSkillsBarsBackground: #edeef5;
    $lightAboutMeSkillsBarsTags: #00c5f2;
    $lightAboutMeSkillsBarsText: #FFFFFF;
    $lightAboutMeSkillsBarsFill1: #70008c;
    $lightAboutMeSkillsBarsFill2: #7100d1;
    $lightAboutMeSkillsBarsFillSpan: #FFFFFF;
    $lightAboutMeDegreeH2: #000000;
    $lightAboutMeDegreeH3: #000000;
    $lightAboutMeDegreeService: #000000;

    $lightButtonText: #FFFFFF;
    $lightButtonBackground1: #6dd4fd;
    $lightButtonBackground2: #2800b3;
    $lightButtonHover: #6dd4fd;

    $lightCardBackground1: #6dd4fd;
    $lightCardBackground2: #2800b3;
    $lightCardBackH2: #FFFFFF;
    $lightCardBackP: #FFFFFF;

    $lightContactMeH3: #838b93;

    $lightExperienceContainerBackground: #F9F1F7;
    $lightExperienceContainerTextUppercase: #000;
    $lightExperienceContainerTextMuted: #676e75;
    $lightExperienceContainerTimelineBefore: #00d0e5;
    $lightExperienceContainerTimelineImageBack: #FFFFFF;
    $lightExperienceContainerTimelineCircleActive: #00d0e5;
    $lightExperienceContainerTimelineLastChild: #00d0e5;
    $lightExperienceContainerTimelineBodyUlP: #6c757d;
    $lightExperienceContainerTimelineBodyUlH4ActiveText: #000;
    $lightExperienceContainerTimelineBodyUlPActiveText: #13b5c5;

    $lightFooterBackground: #c0faeb;
    $lightFooterText: #000000;

    $lightInputBorderError: #ff0000;
    $lightInputBorderColor: #808080;
    $lightInputBorderDisabled: #d3d3d3;
    $lightInputBorderPlaceholder: #b5bcc7;
    $lightInputBorderFocus: #2800b3;
    $lightInputBorderLabel: #000000;
    $lightInputBorderLabelFocus: #2800b3;

    $lightIntroContainerH1: #2b3391;
    $lightIntroContainerH3: #2b3391;

    $lightProjectsBackground: #edeef5;
    $lightProjectsContainerH3: #838b93;

    $lightSidebarContainerBackground: #00CDE2;
    $lightSidebarContainerCloseIcon: #FFFFFF;
    $lightSidebarContainerWrapper: #FFFFFF;
    $lightSidebarMenuLinkText: #FFFFFF;
    $lightSidebarMenuLinkTextHover: #000000;

    $lightContactMeBackground: #edeef5;
    $lightTextAreaLabel: #000000;
    $lightTextAreaText: #b5bcc7;
    $lightTextAreaPlaceholder: #b5bcc7;
    $lightTextAreaBorder: #808080;
    $lightTextAreaBorderFocus: #2800b3;
    $lightTextAreaLabelFocus: #2800b3;

    $lightendOfSectionLineColor: #FFFFFF;

    $lightScrollColor: #00CDE2;
